body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

.menu {
  background: teal;
  width: 100%;
  height: 118px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.menu .header {
  width: 80%;
  padding-top: 10px;
}

.menu .header #logo {
  height: 54px;
  width: 65px;
}

.menu .header .input-search {
  width: 270px;
  border: 0px;
  padding: 10px;
  border-radius: 11px;
  background: #ffffffc4;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 14px;
}

.menu .header .notification-bar {
  width: 5%;
  float: right;
}

.menu .header .notification-bar .icon {
  width: 30px;
  padding: 10px;
}

.menu .header .dropdown {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  float: right;
}

.menu .header .dropdown .avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.menu .header .dropdown .dropdown-content {
  display: none;
  min-width: 220px;
  position: absolute;
  right: 5px;
  background-color: teal;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu .header .dropdown .dropdown-content a {
  background-color: #e2e2e2;
  color: teal;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu .header .dropdown .dropdown-content a:hover {
  border-left: 4px solid;
}

.menu .header .dropdown .dropdown-content .dropdown-profile {
  background-color: #e2e2e2;
  color: black;
  padding: 12px 16px 25px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid teal;
}

.menu .header .dropdown .dropdown-content .dropdown-profile .profile-navbar {
  line-height: 2px;
}

.menu .header .dropdown .dropdown-content .dropdown-profile .profile-navbar a:hover {
  border: 0px;
}

.menu .header .dropdown .dropdown-content .dropdown-profile:hover {
  border-left: 4px solid;
}

.menu .header .dropdown .dropdown-content .dropdown-profile .profile-avatar {
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.menu .header .dropdown .dropdown-content .dropdown-profile div {
  float: right;
}

.menu .header .dropdown .show {
  display: block;
}

.menu .header .dropdown .profile-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .navbar {
  width: 80%;
  padding-bottom: 17px;
}

.menu .navbar ul {
  list-style: none;
  padding: 0px;
}

.menu .navbar li {
  float: left;
  padding-right: 30px;
}

.menu .navbar li a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.menu .navbar li a:hover {
  -webkit-box-shadow: #fcf1ca;
          box-shadow: #fcf1ca;
  color: #fcf1ca;
}

.footer {
  text-align: center;
  margin-top: 10px;
  padding: 26px 0px 14px 0px;
  background-color: teal;
  color: white;
}

.side_menu {
  margin-left: 5%;
  margin-top: 2%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  overflow: hidden;
  position: fixed;
  border: solid 2px teal;
  border-radius: 5px;
}

.side_menu img {
  -webkit-box-shadow: 0px 0px 0px #afa8ba;
          box-shadow: 0px 0px 0px #afa8ba;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding: 6px;
  width: 20%;
  cursor: pointer;
  margin-left: 5%;
  opacity: 0.7;
}

.side_menu img:hover {
  opacity: 1;
}

.side_menu ul li {
  padding: 10px;
  margin-bottom: 6px;
  color: black;
  font-weight: 60;
  border-left: solid 1px teal;
  margin-left: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  list-style-type: none;
}

.side_menu ul li a {
  text-decoration: none;
  color: black;
}

.side_menu .active {
  background-color: teal;
  color: white;
}

.side_menu ul li:hover {
  border-left: solid 2px black;
  color: black;
}

.content {
  width: 75%;
  float: right;
  margin-top: 1%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  background-color: teal;
}

.container {
  -webkit-box-shadow: 0px 2px 1px 1px #324b4b;
          box-shadow: 0px 2px 1px 1px #324b4b;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding: 6px;
  width: 35%;
  text-align: center;
  margin: 8% 25% 0% 30%;
  background-color: white;
  border-radius: 5px;
}

.container img {
  -webkit-box-shadow: 0px 0px 0px #afa8ba;
          box-shadow: 0px 0px 0px #afa8ba;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding: 6px;
  width: 50px;
  margin: 25px;
  cursor: pointer;
  opacity: 0.7;
}

.container img:hover {
  opacity: 1;
}

.container p {
  color: #404a3c;
}

.input {
  width: 60%;
  margin: 2%;
  padding: 2%;
  font-size: 17px;
}

.btn {
  background-color: #078000;
  color: white;
}

.btn:hover {
  background-color: #00793e;
  cursor: pointer;
}

.link {
  color: #078000;
  text-decoration: none;
  margin-right: 20px;
}

.link:hover {
  color: #00793e;
  text-decoration: underline;
}

.right {
  margin-right: 10px;
}

.left {
  margin-left: 55px;
}
/*# sourceMappingURL=userProfile.css.map */